{{ define "route" }}
package routes
{{ end }}

{{ define "imports" }}
import (
	"{{.HandlerImportPath}}"

	"github.com/gin-gonic/gin"
)
{{ end }}

{{ define "registerRoutes" }}
func RegisterRoutes(b *gin.RouterGroup) {

	{{ range .Routes }}
		b.{{ .Method }}("{{ .PathName }}", handlers.{{ .OperationId }})
	{{ end }}

	// sample routes
	b.GET("/", handlers.GetBooks)
	b.GET("/:title", handlers.GetBookByTitle)
	b.POST("/", handlers.CreateBook)
	b.PUT("/:title", handlers.UpdateBook)
	b.DELETE("/:title", handlers.DeleteBook)
}
{{ end }}