{{ define "handler" }}
package handlers
{{ end }}

{{ define "imports" }}
import (
	"{{.ModelImportPath}}/models"
	"net/http"

	"github.com/gin-gonic/gin"
)
{{ end }}

{{ define "GET" }}
func {{ .OperationID }}(c *gin.Context) {
	{{- if .Responses }}
		{{- range $code, $response := .Responses }}
		
			{{ .SuccessReturnCode }}

		{{- end }}
	{{- end }}
}
{{ end }}

{{ define "POST" }}
func {{ .OperationID }}(c *gin.Context) {

}
{{ end }}

{{ define "PUT" }}
func {{ .OperationID }}(c *gin.Context) {

}
{{ end }}

{{ define "DELETE" }}
func {{ .OperationID }}(c *gin.Context) {

}
{{ end }}

{{ define "PATCH" }}

func {{ .OperationID }}(c *gin.Context) {

}
{{ end }}