{{ define "server" }}
package main
{{ end }}
{{ define "imports" }}
import (
	"{{.RoutesImportPath}}"
	"github.com/gin-gonic/gin"
)
{{ end }}
{{ define "serverMain" }}
func main() {
	r := gin.Default(){{ range .Paths }}
{{- $pathName := . }} 
	routes.RegisterRoutes(r.Group("{{ $pathName }}"))
{{- end }}
	r.Run(":8080")
}
{{ end }}
